<main id="content-main">
  <my-todo-list [state]="listState">
    <div class="todo-list-header">
      <form class="searchbar-form" [formGroup]="searchbarForm">
        <mat-form-field>
          <mat-label>Search by title or content</mat-label>
          <input
            matInput
            formControlName="searchInput"
            placeholder="Search by title or content"
          />
        </mat-form-field>
      </form>

      <button
        class="insert-todo-button"
        mat-flat-button
        color="primary"
        (click)="openDialog()"
      >
        <mat-icon aria-label="Side nav toggle icon">note_add</mat-icon>
        Create new Todo
      </button>
    </div>

    <form [formGroup]="orderForm">
      <mat-form-field class="order-by-form-field">
        <mat-label>Order by</mat-label>
        <mat-select formControlName="sortBy" (selectionChange)="orderData()">
          <mat-option *ngFor="let order of orderBy" [value]="order">
            {{ order.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    
    <div class="todo-list">
      <ul *ngIf="dataSource.filteredData.length > 0; else noDataFound">
        <li class="todo-item" *ngFor="let todo of dataSource.filteredData">
          <div class="todo-header">
            <h3>
              Todo #{{ todo.id }} - Created at: {{ todo.createdAt | date }}
            </h3>
            <div class="actions-div">
              <button
                mat-icon-button
                matTooltip="Edit todo"
                aria-label="Edit Todo"
                (click)="openInfoDialog(todo)"
              >
                <mat-icon>visibility</mat-icon>
              </button>
              <button
                mat-icon-button
                matTooltip="Edit todo"
                aria-label="Edit Todo"
                (click)="openDialog(todo)"
              >
                <mat-icon>create</mat-icon>
              </button>
              <button
                mat-icon-button
                matTooltip="Delete todo"
                aria-label="Delete Todo"
                (click)="openDeleteConfirmation(todo.id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          <div class="todo-row">
            <h4 class="title">Title:</h4>
            <p>{{ todo.title }}</p>
          </div>
          <div class="todo-row">
            <h4 class="title">Content:</h4>
            <p>{{ todo.content }}</p>
          </div>
        </li>
      </ul>
      <ng-template #noDataFound>
        <p class="not-found-msg">No task found :(</p>
      </ng-template>
    </div>
  </my-todo-list>
</main>
