.todo-input {
  width: 100%;
}

.mat-dialog-footer {
  width: 100%;
  text-align: right;
}

.mr-button {
  margin-right: 10px;
}

.submit-button, .dialog-title {
  text-transform: capitalize;
}

